---
title: Demo Videos for Products, Services and Startups
---
<header>
  <%= image_tag '/assets/images/ui/strictlydemo.svg' %>
</header>

<section id="intro">
  <p class="lead">We direct, film, animate and produce <strong>Demo Videos</strong> for any kind of products, services and startups. Strictly demos.</p>
</section>

<section id="cta">
  <%= link_to 'Make Me a Video', '#about', class: 'cta' %>
</section>

<section id="credits">
  <div id="credit-logos">
    <%= link_to 'Big 3', 'http://big3.sg', id: 'credit-big3', class: 'credit-logo' %>
    <%= link_to 'Sunday', 'http://madebysunday.co', id: 'credit-sunday', class: 'credit-logo' %>
    <span class="bug">&amp;</span>
  </div>
  <div id="credit-caption">
    <p>A <strong>Big 3</strong> &amp; <strong>Sunday</strong> Collaboration</p>
  </div>
</section>

<section id="see-our-videos">
  <%= link_to 'See our videos', '#demos' %>
</section>

<section id="contact">
  <%= link_to 'valli@madebysunday.co', 'mailto:valli@madebysunday.co', class: 'contact-item contact-mail' %>
  <%= link_to '+65 8162 3547', 'tel:+65 8162 3547', class: 'contact-item contact-call' %>
  <%= link_to '@weluvsunday', 'http://twitter.com/weluvsunday', class: 'contact-item contact-twitter' %>
</section>

<section id="demos">
  <article class="demo">
    <% link_to '#', class: 'demo-thumb', data: { vid: '58122318', credit: 'Animade', credit_url: 'http://animade.tv/' } do %>
    <span data-picture data-alt="Mewe">
      <span data-src="<%= thumbnail_url('/assets/images/thumbs/mewe.jpg', :thumb) %>"></span>
      <span data-src="<%= thumbnail_url('/assets/images/thumbs/mewe.jpg', :thumb_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <noscript>
        <img src="<%= thumbnail_url('/assets/images/thumbs/mewe.jpg', :thumb) %>" alt="Mewe">
      </noscript>
      <div class="demo-play-overlay">Play</div>
    </span>
    <% end %>
    <div class="demo-info">
      <div class="demo-summary">
        <p><strong>Mewe</strong> is the first stop for volunteer travel. We help purpose-driven travellers find, book and rate their ideal volunteer trip and enable them to fundraise for their selected cause.</p>
      </div>
      <dl class="demo-meta">
        <dt>Client</dt>
        <dd>Mewe</dd>
      </dl>
    </div>
  </article>
  <article class="demo">
    <% link_to '#', class: 'demo-thumb', data: { vid: '45160131', credit: 'Animade', credit_url: 'http://animade.tv/' } do %>
    <span data-picture data-alt="Havenly">
      <span data-src="<%= thumbnail_url('/assets/images/thumbs/havenly.jpg', :thumb) %>"></span>
      <span data-src="<%= thumbnail_url('/assets/images/thumbs/havenly.jpg', :thumb_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <noscript>
        <img src="<%= thumbnail_url('/assets/images/thumbs/havenly.jpg', :thumb) %>" alt="Havenly">
      </noscript>
      <div class="demo-play-overlay">Play</div>
    </span>
    <% end %>
    <div class="demo-info">
      <div class="demo-summary">
        <p><strong>Havenly</strong> supports stay-at-home chefs by allowing people to order their authentic home-cooked meals online. Each meal purchased provides a household with an extra income and supports their local economy.</p>
      </div>
      <dl class="demo-meta">
        <dt>Client</dt>
        <dd>Havenly</dd>
      </dl>
    </div>
  </article>
  <article class="demo">
    <% link_to '#', class: 'demo-thumb', data: { vid: '44805845', credit: 'Animade', credit_url: 'http://animade.tv/' } do %>
    <span data-picture data-alt="Subtract">
      <span data-src="<%= thumbnail_url('/assets/images/thumbs/subtract.jpg', :thumb) %>"></span>
      <span data-src="<%= thumbnail_url('/assets/images/thumbs/subtract.jpg', :thumb_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <noscript>
        <img src="<%= thumbnail_url('/assets/images/thumbs/subtract.jpg', :thumb) %>" alt="Subtract">
      </noscript>
      <div class="demo-play-overlay">Play</div>
    </span>
    <% end %>
    <div class="demo-info">
      <div class="demo-summary">
        <p><strong>Subtract</strong> is an online thrift store that uses a reverse auction mechanic via tweets on behalf of social causes. You earn money for what you sell and so does the chosen cause. Everybody wins.</p>
      </div>
      <dl class="demo-meta">
        <dt>Client</dt>
        <dd>Subtract</dd>
      </dl>
    </div>
  </article>
  <article class="demo">
    <% link_to '#', class: 'demo-thumb', data: { vid: '44805844', credit: 'Animade', credit_url: 'http://animade.tv/' } do %>
    <span data-picture data-alt="Polligraf">
      <span data-src="<%= thumbnail_url('/assets/images/thumbs/polligraf.jpg', :thumb) %>"></span>
      <span data-src="<%= thumbnail_url('/assets/images/thumbs/polligraf.jpg', :thumb_2x) %>"  data-media="(min-device-pixel-ratio: 2.0), (-webkit-min-device-pixel-ratio: 2.0)"></span>
      <noscript>
        <img src="<%= thumbnail_url('/assets/images/thumbs/polligraf.jpg', :thumb) %>" alt="Polligraf">
      </noscript>
      <div class="demo-play-overlay">Play</div>
    </span>
    <% end %>
    <div class="demo-info">
      <div class="demo-summary">
        <p><strong>Polligraf</strong> is a mobile app that lets you poll your social networks on any subject then publish the results as a beautifully designed infographic.</p>
      </div>
      <dl class="demo-meta">
        <dt>Client</dt>
        <dd>Polligraf</dd>
      </dl>
    </div>
  </article>
</section>

<footer>
  <p>&copy; 2014 Sunday</p>
</footer>

<section id="about">
  <div class="content">
    <p>We make demo videos. In fact, we only make demo video. For any product, service or a start-up.</p>
    <p>Let&rsquo;s meet and talk. Help us understand why what you are making is important to you and the users. And also let us in on your budgetary requirements. If you are a bootstrap start-up, we understand you and your constraints. Trust us, we do. We are one too.</p>
    <p>Post our meeting, we will give you a storyboard/treatment, timeline and costs. On agreement, we will get on with the work.</p>
    <p>To meet us, drop us a line at <a href="mailto:valli@madebysunday.co">valli@madebysunday.co</a>.</p>
  </div>
  <button class="close">Close</button>
</section>